Repository noctisynth/merak: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, cargo-format, cargo-clippy

biome-check:
  name: biome check
  entry: pnpm biome check --write --no-errors-on-unmatched
  language: system

cargo-format:
  name: cargo format
  entry: cargo fmt --
  language: system

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

feat(landing): landing page and add i18n support (#15)
  package.json
  pnpm-lock.yaml
  src/components/theme-provider.tsx
  src/components/ui/button.tsx
  src/hooks/useLocale.tsx
  src/i18n/en/landing.json
  src/i18n/index.ts
  src/i18n/zh/landing.json
  src/icon/icon.tsx
  src/index.tsx
  src/pages/index.tsx
Due: biome-check

refactor: rename auth to services
  .gitignore
  crates/merak/Cargo.toml
  crates/merak/src/lib.rs
  crates/merak/src/main.rs
  crates/merak/src/routes/auth.rs
  crates/merak/src/services/auth.rs
  crates/merak/src/services/error.rs
  crates/merak/src/services/jwt.rs
  crates/merak/src/services/mod.rs
  crates/merak/src/services/password.rs
  crates/merak/src/services/session.rs
Due: cargo-format, cargo-clippy

feat(auth): implement login and register UI
  biome.json
  src/index.tsx
  src/pages/index.tsx
Due: biome-check

feat(auth): implement login and register UI
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/pages/login.tsx
  src/pages/register.tsx
Due: biome-check

feat(auth): implement login and register UI
  package.json
  pnpm-lock.yaml
  src/pages/login.tsx
  src/pages/register.tsx
Due: biome-check

feat(auth): implement login and register UI (#17)
  biome.json
  package.json
  pnpm-lock.yaml
  src/client/client.gen.ts
  src/client/client/client.gen.ts
  src/client/client/index.ts
  src/client/client/types.gen.ts
  src/client/client/utils.gen.ts
  src/client/core/auth.gen.ts
  src/client/core/bodySerializer.gen.ts
  src/client/core/params.gen.ts
  src/client/core/pathSerializer.gen.ts
  src/client/core/queryKeySerializer.gen.ts
  src/client/core/serverSentEvents.gen.ts
  src/client/core/types.gen.ts
  src/client/core/utils.gen.ts
  src/client/index.ts
  src/client/sdk.gen.ts
  src/client/types.gen.ts
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/index.tsx
  src/pages/index.tsx
  src/pages/login.tsx
  src/pages/register.tsx
Due: biome-check

refactor(ui): use shadcn `base-maia` style
  .changes/base-ui-instead.md
  components.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/index.css
  src/pages/login.tsx
  src/pages/register.tsx
Due: biome-check

refactor(code): enumerate business codes
  crates/merak/src/auth/code.rs
  crates/merak/src/auth/error.rs
  crates/merak/src/auth/mod.rs
  crates/merak/src/common/code.rs
  crates/merak/src/common/response.rs
  crates/merak/src/main.rs
  crates/merak/src/routes/auth.rs
Due: cargo-format, cargo-clippy

feat(code): add BusinessCodes schema
  crates/merak/src/common/code.rs
  crates/merak/src/lib.rs
  crates/merak/src/main.rs
Due: cargo-format, cargo-clippy

Remove aria-label override from Label component (#24)
  src/components/ui/label.tsx
Due: biome-check

feat(forms): integrate react-hook-forms and fix login/register redirect issues
  src/pages/login.tsx
  src/pages/register.tsx
Due: biome-check

feat(forms): integrate react-hook-forms and fix login/register redirect issues
  package.json
  pnpm-lock.yaml
  src/pages/register.tsx
Due: biome-check

refactor(response): use schema ref for ApiResponse generic type
  crates/merak/src/common/response.rs
Due: cargo-format, cargo-clippy

refactor(codes): refactor generics openapi doc
  crates/merak/src/common/response.rs
  crates/merak/src/routes/auth.rs
  package.json
  src/client/client/utils.gen.ts
  src/client/index.ts
  src/client/sdk.gen.ts
  src/client/types.gen.ts
Due: biome-check, cargo-format, cargo-clippy

fix(response): inline ErrorResponse generic code schema
  crates/merak/src/common/response.rs
Due: cargo-format, cargo-clippy

refactor(codes): improve business code schema generation
  Cargo.lock
  crates/merak/Cargo.toml
  crates/merak/src/common/code.rs
  crates/merak/src/common/response.rs
  crates/merak/src/main.rs
  src/client/index.ts
Due: biome-check, cargo-format, cargo-clippy

Add initial dashboard layout components
  src/components/layout/dashboard/dashboard-header.tsx
  src/components/layout/dashboard/dashboard-layout.tsx
  src/components/layout/dashboard/dashboard-sidebar.tsx
Due: biome-check

feat(forms): integrate react-hook-forms and fix login/register redirect issues
  package.json
  pnpm-lock.yaml
  src/pages/login.tsx
  src/pages/register.tsx
Due: biome-check

docs: add README
  README.md
Due: none

fix: remove deprecated baseUrl from tsconfig
  tsconfig.app.json
  tsconfig.json
Due: biome-check

style: apply cargo fmt
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/macros/Cargo.toml
  crates/macros/src/expand.rs
  crates/macros/src/lib.rs
  crates/macros/tests/data_model.rs
  crates/macros/tests/table_name.rs
  crates/merak/Cargo.toml
  crates/merak/src/common/mod.rs
  crates/merak/src/common/record_id_util.rs
  crates/merak/src/main.rs
  crates/merak/src/models/auth.rs
  crates/merak/src/routes/auth.rs
  crates/merak/src/services/auth.rs
  crates/merak/src/services/session.rs
Due: cargo-format, cargo-clippy

feat(forms): integrate react-hook-forms and fix login/register redirect issues (#26)
  package.json
  pnpm-lock.yaml
  src/pages/login.tsx
  src/pages/register.tsx
Due: biome-check

docs: rename README.md to README.zh.md for Chinese localization
  README.zh.md
Due: none

Path conditions:
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css)$
  cargo-format: any of: \.(rs)$
  cargo-clippy: any of: \.(rs)$
