Repository noctisynth/merak: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, cargo-format

biome-check:
  name: biome check
  entry: pnpm biome check --write --no-errors-on-unmatched
  language: system

cargo-format:
  name: cargo format
  entry: cargo fmt -- --check
  language: system

test
  package.json
  pnpm-lock.yaml
Due: biome-check

feat: add react router
  Cargo.lock
  package.json
  pnpm-lock.yaml
  src/index.tsx
Due: biome-check

chore: add version bump
  .changes/add-react-router.md
Due: none

feat: add react router (#5)
  .changes/add-react-router.md
  Cargo.lock
  package.json
  pnpm-lock.yaml
  src/index.tsx
Due: biome-check

chore(smif): remove offline flag for post hook
  .changes/config.toml
Due: none

feat: set up openapi-ts client generation
  .changes/setup-openapi.md
  package.json
  pnpm-lock.yaml
Due: biome-check

feat: add client generation script
  package.json
  src/index.tsx
Due: biome-check

feat: add VSCode format-on-save configuration
  .vscode/settings.json
Due: biome-check

fix: refine VSCode format-on-save configuration
  .vscode/settings.json
Due: biome-check

fix: optimize VSCode format-on-save configuration
  .vscode/settings.json
Due: biome-check

chore(copilot); add copilot instructions for agents
  .github/copilot-instructions.md
Due: none

feat(ui): create shadcn style via twcss
  Cargo.lock
  crates/core/Cargo.toml
  crates/macros/Cargo.toml
  crates/merak/Cargo.toml
  src/index.css
Due: biome-check

ci(test): add unit tests workflow
  .github/workflows/unit-test.yaml
Due: none

fix(lint): apply ui code lint
  package.json
  src/index.tsx
Due: biome-check

feat(macros): support foreign key operations
  .changes/foreign-key.md
  crates/macros/src/attr.rs
  crates/macros/src/lib.rs
  crates/macros/tests/table_name.rs
  crates/merak/src/lib.rs
  crates/merak/src/models/account.rs
  crates/merak/src/models/mod.rs
Due: cargo-format

feat(core)!: 切换 SurrealDB 连接为 Any，并新增 merge 与原生查询支持
  crates/core/src/lib.rs
  crates/merak/src/main.rs
Due: cargo-format

refactor(core,macros): 删除 core 中的 merge 与查询辅助方法，并整理 macros 导入顺序
  crates/core/src/lib.rs
  crates/macros/src/lib.rs
Due: cargo-format

feat(macros): support auto datetime
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/prelude.rs
  crates/macros/src/expand.rs
  crates/macros/src/lib.rs
  crates/merak/src/auth/service.rs
  crates/merak/src/models/user.rs
Due: cargo-format

refactor(response): add response and error codes
  .changes/api-result.md
  crates/merak/src/common/code.rs
  crates/merak/src/common/mod.rs
  crates/merak/src/common/response.rs
  crates/merak/src/lib.rs
  crates/merak/src/main.rs
  crates/merak/src/routes/auth.rs
Due: cargo-format

refactor(auth): implement typed error handling with business codes
  .changes/error-codes.md
  crates/merak/src/auth/error.rs
  crates/merak/src/auth/jwt.rs
  crates/merak/src/auth/mod.rs
  crates/merak/src/auth/service.rs
  crates/merak/src/auth/session.rs
  crates/merak/src/common/code.rs
  crates/merak/src/common/response.rs
  crates/merak/src/main.rs
  crates/merak/src/routes/auth.rs
Due: cargo-format

chore: setup landing page and router
  package.json
  pnpm-lock.yaml
  src/index.tsx
  src/pages/app/index.tsx
  src/pages/landing.tsx
  src/router.tsx
Due: biome-check

feat(landing): optimize landing page
  public/icon.tsx
  src/pages/landing.tsx
Due: biome-check

feat(i18n): initialize i18n configuration
  package.json
  pnpm-lock.yaml
  src/hooks/useLocale.tsx
  src/i18n/en/landing.json
  src/i18n/index.ts
  src/i18n/zh/landing.json
  src/index.tsx
Due: biome-check

Update src/i18n/index.ts
  src/i18n/index.ts
Due: biome-check

refactor: remove react-router-dom
  package.json
  pnpm-lock.yaml
  src/index.tsx
  src/pages/landing.tsx
Due: biome-check

feat(auth): implement login and register UI with simple validation
  package.json
  pnpm-lock.yaml
  src/index.tsx
  src/pages/auth/Home.tsx
  src/pages/auth/Login.tsx
  src/pages/auth/Register.tsx
  src/router/index.tsx
  src/services/auth.ts
Due: biome-check

refactor(router): use landing as root page
  src/index.tsx
  src/pages/app/index.tsx
  src/pages/index.tsx
  src/router.tsx
Due: biome-check

fix(i18n): correct Chinese project name
  src/i18n/zh/landing.json
Due: biome-check

feat(shadcn): initialize shadcn/ui and add Button component
  package.json
  pnpm-lock.yaml
  src/components/ui/button.tsx
Due: biome-check

feat(auth): implement login and register UI
  src/index.tsx
  src/pages/auth/Login.tsx
  src/pages/auth/Register.tsx
  src/router/index.tsx
Due: biome-check

refactor: replace buttons with shadcn
  src/pages/index.tsx
Due: biome-check

feat(auth): implement login and register UI
  src/index.tsx
  src/pages/auth/Login.tsx
  src/pages/auth/Register.tsx
Due: biome-check

feat(auth): implement login and register UI
  src/pages/auth/home.tsx
  src/pages/auth/login.tsx
  src/pages/auth/register.tsx
Due: biome-check

feat(auth): implement login and register UI
  src/pages/auth/login.tsx
  src/pages/auth/register.tsx
Due: biome-check

feat(auth): implement login and register UI
  src/index.tsx
  src/pages/auth/home.tsx
  src/pages/auth/login.tsx
  src/pages/auth/register.tsx
Due: biome-check

docs(landing): update title and description
  src/i18n/en/landing.json
  src/i18n/index.ts
  src/i18n/zh/landing.json
Due: biome-check

style(landing): update color scheme
  public/icon.tsx
  src/pages/index.tsx
Due: biome-check

feat(theme): add dark mode support
  src/components/theme-provider.tsx
  src/index.tsx
Due: biome-check

feat(auth): implement login and register UI
  biome.json
  package.json
  pnpm-lock.yaml
  src/client/client.gen.ts
  src/client/client/client.gen.ts
  src/client/client/index.ts
  src/client/client/types.gen.ts
  src/client/client/utils.gen.ts
  src/client/core/auth.gen.ts
  src/client/core/bodySerializer.gen.ts
  src/client/core/params.gen.ts
  src/client/core/pathSerializer.gen.ts
  src/client/core/queryKeySerializer.gen.ts
  src/client/core/serverSentEvents.gen.ts
  src/client/core/types.gen.ts
  src/client/core/utils.gen.ts
  src/client/index.ts
  src/client/sdk.gen.ts
  src/client/types.gen.ts
  src/index.tsx
  src/pages/login.tsx
  src/pages/register.tsx
  src/services/auth.ts
Due: biome-check

refactor: move icon.tsx out of public
  src/icon/icon.tsx
  src/pages/index.tsx
Due: biome-check

Path conditions:
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css)$
  cargo-format: any of: \.(rs)$
